<a href="https://colab.research.google.com/github/Raghuvorkady/Introduction-to-TensorFlow-Course/blob/main/SFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install turicreate

In [ ]:
pip install -U turicreate

# Fire up Turi Create

We always start with this line before using any part of Turi Create

In [ ]:
import turicreate

## import the .csv file

In [ ]:
from google.colab import files
files.upload()

# Load a tabular data set

In [ ]:
sf = turicreate.SFrame('people-example.csv')

# SFrame basics

In [ ]:
sf

In [ ]:
sf.tail()

# Turi Create visualization

In [ ]:
sf.show()

In [ ]:
sf["age"].show()

# Inspect columns of dataset

In [ ]:
sf["Country"]

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [ ]:
sf["age"]

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [ ]:
sf["age"].mean()

23.14285714285714

In [ ]:
sf["age"].max()

25

# Create new columns in our SFrame

In [ ]:
sf["Full Name"] = sf["First Name"] + " " + sf["Last Name"]

In [ ]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [ ]:
sf["age"] + 2

dtype: int
Rows: 7
[26, 25, 24, 25, 25, 24, 27]

In [26]:
sf["age"]

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]